/*Debug*/
.debug #app_header{
    background-color: aquamarine;
    height: 3rem;
}

.debug .sidebar{
    background-color: blueviolet;
}

.debug .content{
    background-color: darksalmon;
}
[class^="col-"]{
    border: 1px dashed black;
    height: 15rem;
}



.top{
    height: calc(100vh - 3rem);
    background-color: var(--primary);
    overflow: hidden;
}

/*Main*/

.sidebar{
    width:100px;
    height: calc(100vh - 3rem);
}

.content{
    width: calc(100% - 100px);
    overflow-y: auto;
}