/*Debug*/


.debug .content{
    background-color: darksalmon;
}
/*
[class^="col-"]{
    border: 1px dashed black;
    height: 15rem;
}
*/
:root{
    --bg-side:#0e253b;
    --bg-blue:#1b72e8;
    --bg-btn:#165bba;
}

img{
    max-width: 100%;
}

.bg_btn{
    background-color: var(--bg-btn);
}
/*Responsive*/

@media screen and (min-width:992px) {
    .top .sidebar{
        width: 150px;
        align-items: flex-start;
    }

    .top .sidebar span{
        display: inline-block;
    }

    .top .boolean_student button{
        display: inline-block;
    }

    .top .boolean_student #plus{
        display: none;
    }

    
    .top .content .boolean_student .offcanvas{
    width: 50%;
    }
}

/*Header*/
#app_header{
    height: 4rem;
}

.search input{
    width: 300px;
}

/*Main*/

.top{
    height: calc(100vh - 4rem);
    background-color: var(--primary);
    overflow: hidden;
}

.sidebar{
    width:50px;
    height: calc(100vh - 4rem);
    background-color: var(--bg-side);
    background-image: url(../img/sidebar-bg.png);
}

.content{
    width: calc(100% - 50px);
    overflow-y: auto;
}

.content .boolean_student{
    background-color: var(--bg-blue);
    height: 200px;
}

.content .boolean_student .offcanvas{
    width: 100%;
}