:root{
    --bg-side:#0e253b;
    --bg-blue:#1b72e8;
    --bg-btn:#165bba;
    --bg-search:#e9ecef;
}

img{
    max-width: 100%;
}

.bg_btn{
    background-color: var(--bg-btn);
}

.bg_search{
    background-color: var(--bg-search);
}

/*Responsive*/
@media screen and (max-width:576px) {
    .navbar #desk_logo{
        display: none;
    }

    .navbar #btn_group{
        display: none;
    }

    .content .boolean_student #logo{
        order: 1;
    }

    .content .boolean_student #total{
        order: 2;
    }

    .content .boolean_student #new_student{
        order: 0;
    }

    .content .boolean_student #logo .bdg_xxs{
        display: none;
    }

    .content table .del_xxs{
        display: none;
    }
}

@media screen and (min-width:992px) {
    .top .sidebar{
        width: 150px;
        align-items: flex-start;
    }

    .top .content{
        width: calc(100%- 150px);
    }

    .top .content .boolean_student .offcanvas{
    width: 50%;
    }
    
    .top .sidebar .item:hover{
        background-color: gray;
    }
}

/*Header*/
#app_header{
    height: 4rem;
}

.search input{
    width: 300px;
}

.navbar .dropdown-menu{
    margin-left: -8rem;
}

/*Main*/

.top{
    height: calc(100vh - 4rem);
    background-color: var(--primary);
    overflow: hidden;
}

.sidebar{
    width:50px;
    z-index: 99;
    height: calc(100vh - 4rem);
    background-color: var(--bg-side);
    background-image: url(../img/sidebar-bg.png);
}

.content{
    width: calc(100% - 50px);
    z-index: 99;
    overflow-y: auto;
}
::-webkit-scrollbar{
    display: none;
}


/*Student */
.content .boolean_student{
    background-color: var(--bg-blue);
}

.content .boolean_student .offcanvas{
    width: 100%;
}

/*Table*/ 
.content .table .code{
    display: inline-block;
    width: 2rem;
}

.content .table tr:hover{
    background-color: lightgrey;
}